<VirtualHost *:80>
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}

    DocumentRoot {{ vhost_document_root }}

    # PHP-FPM Proxy Configuration
    # Active PHP Version: {{ php_versions_all[php_active].label }}
    <FilesMatch \.php$>
        SetHandler "proxy:unix:{{ php_active_fpm_socket }}|fcgi://localhost"
    </FilesMatch>

    <Directory {{ vhost_document_root }}>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ domain }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ domain }}_access_log combined

    # Note: To switch PHP versions, change the socket path above
    # from {{ php_active_fpm_socket }}
    # to /run/php/php<new_version>-fpm.sock
    # Or include /usr/local/etc/php-versions/php-apache-proxies.conf
</VirtualHost>
